<a href="https://colab.research.google.com/github/Tiamiyu1/Python-for-Data-Science-and-Analytics/blob/main/Classes/Day_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Pandas

dataframe 2d data structure with different columns

Ways of creating pandas df - dict, array(specify col_name in a alist), list, read

Df Attr - index, values, shape, dtypes, axes, sum, max

Df method info, head, tail, describe, reset_index(inplace)

Indexing - iloc, loc,

Filtering - combining conditions

Inseting/Deleting rows-columns kk.loc['R3'] = [10,11,12]

del col, drop col

Missing data - check, fillna, drop

In [1]:
import numpy as np
import pandas as pd

In [2]:
series = pd.Series([12,34,567,78])
series

0     12
1     34
2    567
3     78
dtype: int64

In [3]:
type(series)

pandas.core.series.Series

In [4]:
state = pd.Series(['Osun', 'Oyo', 'Lagos', 'Nasarawa'])
state

0        Osun
1         Oyo
2       Lagos
3    Nasarawa
dtype: object

In [5]:
state = pd.Series({'Osun':'Osogbo', 'Oyo':'Ibadan', 'Lagos':'Ikeja', 'Nasarawa':'Lafia'})
state

Osun        Osogbo
Oyo         Ibadan
Lagos        Ikeja
Nasarawa     Lafia
dtype: object

In [6]:
pd.DataFrame(np.arange(1,10).reshape(3,3), index=['R1', 'R2', 'R3'])

    0  1  2
R1  1  2  3
R2  4  5  6
R3  7  8  9

In [7]:
df = pd.DataFrame(np.arange(1,10).reshape(3,3), index=['R1', 'R2', 'R3'], columns=['C1', 'C2', 'C3'])
df

    C1  C2  C3
R1   1   2   3
R2   4   5   6
R3   7   8   9

In [8]:
df.loc['R3', 'C3']

9

In [9]:
df.loc['R2', 'C2']

5

In [10]:
df.loc[:,'C2']

R1    2
R2    5
R3    8
Name: C2, dtype: int64

In [11]:
df.loc['R2':, 'C2':]

    C2  C3
R2   5   6
R3   8   9

In [12]:
df

    C1  C2  C3
R1   1   2   3
R2   4   5   6
R3   7   8   9

In [13]:
df.iloc[0]

C1    1
C2    2
C3    3
Name: R1, dtype: int64

In [14]:
df.iloc[2]

C1    7
C2    8
C3    9
Name: R3, dtype: int64

In [15]:
df.C2

R1    2
R2    5
R3    8
Name: C2, dtype: int64

In [16]:
df[df>=5]

     C1   C2   C3
R1  NaN  NaN  NaN
R2  NaN  5.0  6.0
R3  7.0  8.0  9.0

In [17]:
df

    C1  C2  C3
R1   1   2   3
R2   4   5   6
R3   7   8   9

In [18]:
df.loc['R4'] = [10, 11,12]
df

    C1  C2  C3
R1   1   2   3
R2   4   5   6
R3   7   8   9
R4  10  11  12

In [19]:
df.loc['C4'] = [15,25,30]

In [20]:
df

    C1  C2  C3
R1   1   2   3
R2   4   5   6
R3   7   8   9
R4  10  11  12
C4  15  25  30

In [21]:
df['C4'] = [12,45,21,45,10]
df

    C1  C2  C3  C4
R1   1   2   3  12
R2   4   5   6  45
R3   7   8   9  21
R4  10  11  12  45
C4  15  25  30  10

In [22]:
df.loc['R4', 'C4'] = 46
df

    C1  C2  C3  C4
R1   1   2   3  12
R2   4   5   6  45
R3   7   8   9  21
R4  10  11  12  46
C4  15  25  30  10

In [23]:
# Drop row/column
df.drop('C4', axis=1)

    C1  C2  C3
R1   1   2   3
R2   4   5   6
R3   7   8   9
R4  10  11  12
C4  15  25  30

In [24]:
# Drop row/column
df = df.drop('C4')
df

    C1  C2  C3  C4
R1   1   2   3  12
R2   4   5   6  45
R3   7   8   9  21
R4  10  11  12  46

In [25]:
#Creating a df
name = ['Azeez', 'Kauthat', 'Jimoh', 'Debby', 'Tunde']
id = [0,1,2,3,4]
department = ['Chemistry', 'Mathematics', 'English', 'Computer', 'Data']
gp = [4.5, 2.9, 3.0, 5.0, 1.1]
student = pd.DataFrame({'ID':id, "Name":name, "Department":department, "CGPA":gp})
student

   ID     Name   Department  CGPA
0   0    Azeez    Chemistry   4.5
1   1  Kauthat  Mathematics   2.9
2   2    Jimoh      English   3.0
3   3    Debby     Computer   5.0
4   4    Tunde         Data   1.1

In [26]:
student.loc[4]

ID                4
Name          Tunde
Department     Data
CGPA            1.1
Name: 4, dtype: object

In [27]:
student.query('CGPA >= 3.0')

   ID   Name Department  CGPA
0   0  Azeez  Chemistry   4.5
2   2  Jimoh    English   3.0
3   3  Debby   Computer   5.0

In [28]:
student['Department']

0      Chemistry
1    Mathematics
2        English
3       Computer
4           Data
Name: Department, dtype: object

In [29]:
student[['Department', 'CGPA', 'ID']]

    Department  CGPA  ID
0    Chemistry   4.5   0
1  Mathematics   2.9   1
2      English   3.0   2
3     Computer   5.0   3
4         Data   1.1   4

In [30]:
student.to_csv('student.csv', index=False)